# Minify
bin/maps/
bin/gamepakcontents.txt
build
config
dota2path_minify.txt
locale
logs
mods.json
mods/_*

## Dependencies
bin/rescomproot
cli-*-*.*
libSkiaSharp*
libTinyEXR.Native.so
rg*
Source2Viewer-CLI*
TinyEXR.Native.dll

## Dota2
steam_appid.txt

# Byte-compiled / optimized / DLL files
__pycache__
*.build
*.dist
*.exe
*.py[cod]
*$py.class
nuitka
nuitka*

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/
