# Minify
Minify/bin/gamepakcontents.txt
Minify/vpk_build
Minify/vpk_replace
Minify/config
Minify/logs
Minify/mods/*

## In-repo mods
!Minify/mods/Auto Accept Match
!Minify/mods/base
!Minify/mods/Custom Backgrounds
Minify/mods/Custom Backgrounds/*.png
Minify/mods/Custom Backgrounds/*.jpg
Minify/mods/Custom Backgrounds/*.jpeg
Minify/mods/Custom Backgrounds/*.webp
!Minify/mods/Dark Terrain
!Minify/mods/Minify Base Attacks
!Minify/mods/Minify Spells & Items
!Minify/mods/Misc Optimization
!Minify/mods/Mute Ambient Sounds
!Minify/mods/Mute Announcers
!Minify/mods/Mute Taunt Sounds
!Minify/mods/Mute Voice Line Sounds
!Minify/mods/OpenDotaGuides Guides
!Minify/mods/Remove Foilage
!Minify/mods/Remove Hero Card Clutter
!Minify/mods/Remove Hero Renders
!Minify/mods/Remove Main Menu Background
!Minify/mods/Remove Pings
!Minify/mods/Remove River
!Minify/mods/Remove Showcases
!Minify/mods/Remove Sprays
!Minify/mods/Remove Weather Effects
!Minify/mods/Repopulate Unit Query HUD
!Minify/mods/Reposition & Rescale HUD
!Minify/mods/Revert Ping Sounds
!Minify/mods/Show NetWorth
!Minify/mods/Stat Site Buttons
!Minify/mods/Transparent HUD
!Minify/mods/Tree Mod
!Minify/mods/User Styles

## Dependencies
Minify/bin/rescomproot*
Minify/cli-*-*.*
Minify/libSkiaSharp*
Minify/*TinyEXR*
Minify/rg*
Minify/Source2Viewer-CLI*

## Dota2
Minify/steam_appid.txt

# Byte-compiled / optimized / DLL files
__pycache__
build
*.build
*.dist
*.exe
*.py[cod]
*$py.class
dist

# Environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/

# Ignore vscode AI rules
.github/instructions/
.DS_Store
