# Minify
*.css
*.vcss_c
logs
locale
mods.json
dota2path_minify.txt
bin/maps/
bin/pak1contents.txt
mods/test

## Dependencies
cli-*-*.*
Source2Viewer-CLI*
libSkiaSharp*
TinyEXR.Native.dll
libTinyEXR.Native.so
rg*

## Dota2
steam_appid.txt

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.exe
nuitka
*.build
*.dist
nuitka*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
