/* g:panorama/styles/dashboard_background_manager */
DOTADashboardBackgroundManager:not(.Hidden) {
    visibility: collapse;
}

/* g:panorama/styles/dashboard_page_home */
#FrontpageContents {
    visibility: collapse;
}