name: Release

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: "Name the release"
        required: true
        default: "Minify-v1.xx.x"

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set version
        if: matrix.os == 'ubuntu-latest'
        shell: pwsh
        run: |
          $releaseName = "${{ github.event.inputs.release_name }}"
          $version = $releaseName.Substring(8)
          Set-Content -Path "version" -Value $version -NoNewline
      - uses: stefanzweifel/git-auto-commit-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          commit_message: "Version change"

      - name: Make and activate virtual environment (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          python -m venv .venv
          .\.venv\Scripts\activate
      - name: Make and activate virtual environment (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          python -m venv .venv
          source ./.venv/bin/activate

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build executable
        run: pyinstaller --noconsole --icon=bin/images/favicon.ico --name=Minify --hidden-import=tkinter --hidden-import=PIL imgui.py

      - name: Move project dependencies (Windows)
        shell: pwsh
        if: matrix.os == 'windows-latest'
        run: |
          Copy-Item -Path "bin" -Destination "dist\Minify\bin" -Recurse
          Copy-Item -Path "mods" -Destination "dist\Minify\mods" -Recurse
          Copy-Item -Path "version" -Destination "dist\Minify\version"
          Copy-Item -Path "readme.md" -Destination "dist\Minify\readme.md"
          Copy-Item -Path "C:\hostedtoolcache\windows\Python\3.13.7\x64\Lib\site-packages\PIL" -Destination "dist\Minify\_internal\PIL" -Recurse

      - name: Move project dependencies (Linux)
        shell: pwsh
        if: matrix.os == 'ubuntu-latest'
        run: |
          Copy-Item -Path "bin" -Destination "dist/Minify/bin" -Recurse
          Copy-Item -Path "mods" -Destination "dist/Minify/mods" -Recurse
          Copy-Item -Path "version" -Destination "dist/Minify/version"
          Copy-Item -Path "readme.md" -Destination "dist/Minify/readme.md"
          Copy-Item -Path "/opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages/PIL" -Destination "dist/Minify/_internal/PIL" -Recurse
          Copy-Item -Path "/opt/hostedtoolcache/Python/3.13.7/x64/lib/python3.13/site-packages/pillow.libs" -Destination "dist/Minify/_internal/pillow.libs" -Recurse

      - name: Archiving (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          Set-Location dist\Minify
          Compress-Archive -Path ".\*" -DestinationPath "..\..\${{ github.event.inputs.release_name }}-windows.zip"
          Set-Location .\..\..\
      - name: Archiving (Linux)
        shell: pwsh
        if: matrix.os == 'ubuntu-latest'
        run: |
          Set-Location dist/Minify
          Compress-Archive -Path "./*" -DestinationPath "./../../${{ github.event.inputs.release_name }}-linux.zip"
          Set-Location ../..

      - name: Create Release (Windows)
        if: matrix.os == 'windows-latest'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.release_name }}
          files: "${{ github.event.inputs.release_name }}-windows.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release (Linux)
        if: matrix.os == 'ubuntu-latest'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.release_name }}
          files: "${{ github.event.inputs.release_name }}-linux.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
