name: Release

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: "Name the release"
        required: true
        default: "Minify-v1.xx"
      release_body:
        description: "Description of the release"
        required: true
        default: "Built with workflows"

env:
  RELEASE_NAME: ""

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set version
        shell: pwsh
        run: |
          $releaseName = "${{ github.event.inputs.release_name }}"
          $version = $releaseName.Substring(8)
          Set-Content -Path "version" -Value $version -NoNewline

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Version change"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build executable with Nuitka
        run: |
          curl -s -L -o "cli-windows-x64.zip" "https://github.com/ValveResourceFormat/ValveResourceFormat/releases/latest/download/cli-windows-x64.zip"
          Expand-Archive -Path ".\cli-windows-x64.zip" -DestinationPath ".\"
          python -m nuitka --assume-yes-for-downloads --follow-imports --standalone --include-data-files=version=version --include-data-files=Source2Viewer-CLI.exe=Source2Viewer-CLI.exe --include-data-files=TinyEXR.Native.dll=TinyEXR.Native.dll --include-data-files=.\libSkiaSharp.dll=libSkiaSharp.dll --include-data-dir=./bin=bin --include-data-dir=./mods=mods --windows-console-mode=disable --windows-icon-from-ico=bin/images/favicon.ico --enable-plugin=tk-inter --output-filename=Minify imgui.py
          Compress-Archive -Path ".\*" -DestinationPath ".\..\${{ github.event.inputs.release_name }}.zip"
          cd .\..\

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.release_name }}
          prerelease: true
          body: ${{ github.event.inputs.release_body }}
          files: "${{ github.event.inputs.release_name }}.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
